<div class="container">
    <form [formGroup]="searchEmployees" (ngSubmit)="submitForm()" #form="ngForm">
        <div class="row justify-content-between mb-5 mt-5">
            <div class="col-md-4 col-sm-12 ">
                <label for="name" class="mr-3">{{"EmployeeName"| translate}}</label>
                <input id="name" type="text" [placeholder]="'placeholder.EmployeeName' | translate" class="form-control" formControlName="empName" aria-label="Username" aria-describedby="basic-addon1">
                <span class=" text-danger" *ngIf="!searchEmployees.get('empName').valid && searchEmployees.get('empName').touched">
                    <sup>*</sup>{{"Validations.name"|translate}}
                </span>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <label class="mr-3">{{"Department"|translate}} </label>
                <select class="custom-select " formControlName="department">
                     <option value="">{{"ChooseDepartment"|translate}}</option>
                     <option *ngFor="let department of Departments" [ngValue]="department">{{department}}</option>
                  </select>
                <span class="text-danger" *ngIf="!searchEmployees.get('department').valid && searchEmployees.get('department').touched">
                    <sup>*</sup>{{"Validations.department"|translate}}
                </span>
            </div>
            <div class="col-md-4 col-sm-12 align-self-end ">
                <button type="submit" class="btn btn-danger btn-lg btn-block">{{"Search"|translate}}</button>
                <span class=" text-danger" *ngIf="!searchEmployees.valid && searchEmployees.touched">
                    <sup>*</sup>{{"Validations.data"|translate}}
                </span>
            </div>
        </div>
    </form>

    <table class="data-table">
        <thead class="data-table__head ">
            <tr class="data-table__row clickableRow " (click)="allToggle()">
                <th class="data-table__header" scope="col ">
                    <input type="checkbox" [checked]="all"></th>
                <th class="data-table__header" scope="col ">#</th>
                <th class="data-table__header" scope="col ">{{"TableHeaders.name"|translate}}</th>
                <th class="data-table__header" scope="col ">{{"TableHeaders.code"|translate}}</th>
                <th class="data-table__header" scope="col ">{{"TableHeaders.department"|translate}}</th>
                <th class="data-table__header" scope="col ">{{"TableHeaders.birthDate"|translate}}</th>
                <th class="data-table__header" scope="col ">{{"TableHeaders.gender"|translate}}</th>
            </tr>
        </thead>
        <tbody class="data-table__body">
            <tr class="data-table__row clickableRow " [ngClass]="{highlight: selection?.includes(employee)} " *ngFor="let employee of employees ">
                <td class="data-table__cell" scope="row ">
                    <input type="checkbox" (change)="rowToggle(employee.id) " [checked]="selection?.includes(employee)||all ">
                </td>
                <td class="data-table__cell" scope="row ">{{ employee.id }}</td>
                <td class="data-table__cell">
                    {{ employee.name }}
                </td>
                <td class="data-table__cell">{{ employee.code }}</td>
                <td class="data-table__cell">{{ employee.department }}</td>
                <td class="data-table__cell">{{ employee.birthDate | date }}</td>
                <td class="data-table__cell">{{ employee.gender }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between p-2 ">
        <ngb-pagination [collectionSize]="collectionSize " [(page)]="page " [pageSize]="pageSize " (pageChange)="refreshEmployees() ">
        </ngb-pagination>

        <select class="custom-select " style="width: auto " [(ngModel)]="pageSize " (ngModelChange)="refreshEmployees() ">
      <option [ngValue]="2 ">2 items per page</option>
      <option [ngValue]="4 ">4 items per page</option>
    </select>
    </div>
</div>
