<nav class="navbar   navbar-dark bg-dark">
    <div class="navbar__container">
        <a class="navbar-brand" href="#">{{"Logo" | translate}}</a>
        <div class="navbar__date-box">
            <p class="navbar__date">{{getTodayDate}}</p>
        </div>
        <div class="row">

            <Button (click)="changeCurrentLang('en')" class="btn btn-secondary">En</Button>
            <Button (click)="changeCurrentLang('ar')" class="btn btn-secondary">Ar</Button>
        </div>

        <div ngbDropdown class="user-nav d-inline-block ">
            <button class="btn btn-outline-dark text-white " id="dropdownBasic1" ngbDropdownToggle>Mostafa Khalile</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1 bg-dark">
                <button ngbDropdownItem *ngFor="let element of dropDownElements" class="text-uppercase user-nav__item">{{element}}</button>
            </div>
        </div>

    </div>
</nav>
