        .base-align {
            text-align: right;
            color: green;
        }

        .horizontal-content {
            flex-direction: row-reverse;
        }

        .navbar {
            &__container {
                flex-direction: row-reverse;
            }
        }

        .side-nav {
            &__header {
                text-align: right;
            }
            &__list-item {
                text-align: right;
            }
        }

        .body-content {
            direction: rtl;
        }
