        .base-align {
            text-align: right;
            color: green;
        }

        .horizontal-content {
            flex-direction: row-reverse;
        }

        .navbar {
            &__container {
                flex-direction: row-reverse;
            }
        }

        // .addemployee-container {
        //     direction: rtl;
        // }
        .body-content {
            direction: rtl;
        }
