p {
    color: blue;
}

.base-align {
    text-align: left;
}

body {
    direction: ltr;
}

.side-nav {
    &__header {
        text-align: left;
    }
    &__list-item {
        text-align: left;
    }
}
