.side-nav {
    &__header {
        padding: 3rem;
        // margin: 0 1rem;
        color: var(--white);
    }
    &__list-item {
        outline: none;
        cursor: pointer;
        padding: 2rem;
        // margin: 0 1rem;
        color: var(--white);
        &:hover,
        &:visited {
            background-color: var(--gray);
        }
    }
}
